    
  .todo-container {
    padding: 20px;
    border-bottom: 0.5px solid #333;
    align-items: center;
  }
  
  .todo-container:first-of-type {
    border-top: 0.5px solid #333;
  }

  .todo-checkbox {
    margin: 10px;
  }
  
  .todo-delete {
    position: absolute;
    right: 20px;
    align-content: center;
    color: #dee3e6;
    border: #dee3e6;;
  }


  


  